<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3>Your Workflows</h3>
        </div>
    </div>
    <div class="row">
        <% jobs.forEach(job => { %>
        <div class="col-md-6">
                <div>
                    <%- include("../job/jobcard", {job:job, showView:true}) %>
                </div>
        </div>
        <% }) %>
    </div>
</div>