<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3>Your Workflows</h3>
        </div>
    </div>
    <div class="row">
        <% if(jobs.length==0){ %>
            <div class="col">
                <div>You have no workflows. <a href="/client/create">Create a new workflow</a> now!</div>
            </div>
        <% } else { %>


        <% jobs.forEach(job => { %>
        <div class="col-md-6">
                <div>
                    <%- include("../job/jobcard", {job:job, showView:true}) %>
                </div>
        </div>
        <% }) %>
        <% } %>
    </div>
</div>