<div class="container">
	<div class="row">
		<div class="col mt-3">
			<h3>View Workflow Details</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%- include("../job/jobcard", {job:job, showView:false}) %>
        </div>
        <div class="col-md-6">
			<%- include("../job/jobstatscard", {job:job, showView:false}) %>
        </div>
	</div>
	<div class="row">
		<div class="col-md">
			<% job.texts.forEach((text) => { %>
			<div>
				<%- include("../text/textcard_sent", {text:text, showOptions:false}) %>
			</div>
			<% }) %>
		</div>
	</div>
</div>