<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3>Your Workflows</h3>
        </div>
    </div>
    <div class="row">

        <% if(user.labelJobs.length==0){ %>
            <div class="col">
                <div>You have no active workflows. Check the <a href="/labeller/workflows">Available Workflows</a> page for new assignments.</div>
            </div>
        <% } else { %>
            <% user.labelJobs.forEach( labelJob => { %>
                <div class="col-md-6">
                        <div>
                            <%- include("../labeller/labeljobcard", {labelJob:labelJob}) %>
                        </div>
                </div>
                <% }) %>
        <% } %> 

        
    </div>
</div>