<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h3>Available Workflows</h3>
        </div>
    </div>
    <div class="row">

        <% if(jobs.length==0) { %>
            <div class="col">
                <div>No workflows available now. Check your <a href="/labeller/dashboard">Dashboard</a> for any uncompleted workflows.</div>
            </div>
        <% } else { %>
            <% jobs.forEach(job => { %>
                <div class="col-md-6">
                        <div>
                            <%- include("../job/jobcard", {job:job, showView:true}) %>
                        </div>
                </div>
                <% }) %>
        <% } %> 

        
    </div>
</div>