<div class="container mt-5">
	<div class="row">
		<div class="col-md-6 align-self-center">
			<div class="row">
				<div class="col-md-4 text-center">
					<img src="/img/logo_transparent.png" style="max-width: 100%;" width="150px" alt="logo_transparent">
				</div>
				<div class="col-md-8 my-3">
					<div class="leading-text text-center text-md-left">
						<div class="lead-leading-text my-1">Jumpstart your AI journey with accurate training data</div>
						Tap into our team of labellers from all over the globe and
						generate context-specific labels for your machine learning needs.
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<!-- NOT LOGGED ON -->
			<% if(!currentUser){ %>
			<div class="row">
				<div class="col-md"><%- include("auth/login") %></div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md text-center">
					Don't have an account? <br> Register as a Labeller or Client here. <br>
					<a class="btn btn-outline-dark my-3" style="background-color:#99B0B4;" href="auth/register">Register</a>
				</div>
			</div>

			<!-- LABELLER -->
			<% } else if(currentUser.userType==1) { %>
			<div class="row">
				<div class="col text-center">
					<h4>Welcome, <%= currentUser.firstname %>.</h4>
				</div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-outline-dark my-3" style="background-color:#99B0B4;" href="/labeller/workflows">See All
						Available Workflows</a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					or
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-outline-dark my-3" style="background-color:#99B0B4;" href="/labeller/dashboard">Go to your
						Dashboard</a>
				</div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<!-- CLIENT -->
			<% } else if(currentUser.userType==2) { %>
			<div class="row">
				<div class="col text-center">
					<h4>Welcome, <%= currentUser.firstname %>.</h4>
				</div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-outline-dark my-3" style="background-color:#99B0B4;" href="/client/dashboard">Go to your
						Dashboard</a>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					or
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-outline-dark my-3" style="background-color:#99B0B4;" href="/client/create">Create New
						Workflow</a>
				</div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<!-- ADMIN -->
			<% } else if(currentUser.userType==0) { %>
			<div class="row">
				<div class="col text-center">
					<h4>Admin</h4>
				</div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-outline-dark my-3" style="background-color:#99B0B4;" href="/admin/dashboard">Go to
						Dashboard</a>
				</div>
			</div>
			<div class="row">
				<div class="col my-1">
					<hr />
				</div>
			</div>
			<% } %>
		</div>
    </div>
    <!-- <div class="row">
        <div class="col my-5">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 border text-center">
            <img class="rotate-img-90" src="/img/noun_Workflow_1843374.svg" alt="workflow" width="200px" height="200px" >
        </div>
        <div class="col-md-4 border text-center">
            <img src="/img/noun_crowd_2383331.svg" alt="crowd" width="200px" height="200px">
        </div>
        <div class="col-md-4 border text-center">
            <img src="/img/noun_Cloud Download_2349070.svg" alt="crowd" width="200px" height="200px">
        </div>    </div>
    <div class="row">
        <div class="col my-5">
            <hr />
        </div>
    </div> -->
</div>