<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Labellr</title>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color:#87D68D;">
        <a class="navbar-brand" href="#">
          <img src="/img/labellrlogo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          Labellr
        </a>
        <% if(currentUser){%>
            <span class="my-2 my-lg-0">Logged in as <%= currentUser.firstname %> <%= currentUser.lastname %></span>
            <% } %>
      </nav>
 <%- body %>
</body>
</html>

<!-- https://coolors.co/f7fff6-bcebcb-87d68d-93b48b-8491a3 -->